# Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=MBL App Update Manager
After=mbl-dbus-cloud.service

[Service]
ExecStart=/usr/bin/mbl-app-update-manager-daemon

[Install]
WantedBy=multi-user.target
