# Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=MBL Hostname Setup
Before=avahi-daemon.service
ConditionPathExists=/config
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/opt/arm/mbl-hostname.sh
RemainAfterExit=yes

[Install]
WantedBy=network.target
