# Based on: openembedded-core/meta/recipes-support/rng-tools/rng-tools/rngd.service
# In open-source project: http://github.com/openembedded/openembedded-core
#
# Original file: No copyright notice was included
# Modifications: Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: MIT

[Unit]
Description=Hardware RNG Entropy Gatherer Daemon
DefaultDependencies=no
After=systemd-udev-settle.service
Before=sysinit.target

[Service]
Type=forking
ExecStart=@SBINDIR@/rngd -r /dev/hwrng
SuccessExitStatus=66

[Install]
WantedBy=multi-user.target
