# Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=MBL App Lifecycle Manager
After=mbl-cloud-client.service

[Service]
ExecStartPre=__REPLACE_ME_WITH_base_bindir__/echo "Run all user applications found at __REPLACE_ME_WITH_MBL_APP_DIR__..."
ExecStart=__REPLACE_ME_WITH_bindir__/mbl-app-lifecycle-manager --verbose run-all

[Install]
WantedBy=multi-user.target
