# Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=D-Bus MBL Cloud Client
After=dbus.service
Requires=mbl-dbus-cloud.socket

[Service]
RemainAfterExit=yes
ExecStart=__REPLACE_ME_WITH_bindir__/dbus-daemon --config-file=__REPLACE_ME_WITH_datadir__/dbus-1/mbl-dbus-cloud.conf --nopidfile

[Install]
WantedBy=multi-user.target
