# Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=MBL Cloud D-Bus System Message Bus Socket

[Socket]
ListenStream=/var/run/dbus/mbl_cloud_bus_socket
