# Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=Service to persist the usb gadget ethernet mac address across reboots
ConditionPathExists=/config/user
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/arm/mbl-usb-gether-mac-addr.sh

[Install]
WantedBy=multi-user.target
