# Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=MBL Cloud Client
After=mbl-app-update-manager.service

[Service]
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/dbus/mbl_cloud_bus_socket start-stop-daemon"
RemainAfterExit=yes
ExecStart=/opt/arm/mbl-cloud-client

[Install]
WantedBy=multi-user.target
