# Based on: recipes-security/ecryptfs-utils/files/ecryptfs.service
# In open-source project: http://git.yoctoproject.org/cgit/cgit.cgi/meta-security
#
# Original file: http://git.yoctoproject.org/cgit/cgit.cgi/meta-security/tree/COPYING.MIT
# Modifications: Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: MIT

[Unit]
Description=A initialisation script and user space daemon for managing ecryptfs ciphered storage.
After=systemd-udevd.service

[Service]
ExecStart=/usr/bin/psa-ecryptfs-init.sh

[Install]
WantedBy=multi-user.target
