# Copyright (c) 2019 Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

[Match]
Name=__REPLACE_ME_WITH_MBL_DEBUG_INTERFACE__

[Network]
DHCP=ipv4
LinkLocalAddressing=yes
